:root {
  --primary: #d16527;
  --secondary: #edad2d;
}

/* 영역 별 색상 및 높이 */
.container {
  /* background-color: azure; */
}

/* 로고 */
.logo {
  /* background-color: blue; */
  position: absolute;
  top: 64px;
  left: 48px;
}

/* 헤더 */
.header {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}

/* 유틸리티 메뉴 */
.utility-menu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 4px 0;
  gap: 8px;
  justify-content: end;
  align-items: center;
  position: relative;
  left: 8px;

  li {
    display: contents;
    a {
      padding: 4px 8px;
      text-transform: uppercase;
    }
  }
}
/*네비게이션*/
.navigation {
  /* color: blue; */
}
/* 로고 */
.logo {
  position: absolute;
  top: 50px;
  left: 48px;
}
.visual {
  background-color: salmon;
}

.main {
  background-color: green;
  height: 60vh;
}

.group1 {
  background-color: yellow;
}

.group2 {
  background-color: orange;
}

.group3 {
  background-color: lime;
}

.slogan {
  background-color: blueviolet;
  height: 10vh;
}

.footer-wrapper {
  background-color: silver;
}

.footer {
  background-color: gray;
  height: 10vh;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  inline-size: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;
  /* border: 10px solid red;
  padding: 20px; */
  /* margin: 0 auto; */
  /* margin-block: 0; */
}

.main {
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding-block: 30px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;

  .group1 {
    width: 250px;
    /* order: 1; */
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 250px; */
    /* flex: 0 1 max-content; */
  }

  .group2 {
    width: 380px;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 380px; */
    /* flex: 1 1 0; */
  }

  .group3 {
    width: 190px;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 190px; */
    /* flex: 0 1 max-content; */
  }
}

.menu {
  background-color: var(--primary);
  background-image: linear-gradient(to bottom, var(--secondary) 0%, var(--primary) 20%, var(--primary) 80%, var(--secondary) 100%);
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding-inline-start: 0;
  justify-content: end;
  border-block-start: black;
  .sub-menu {
    background-color: pink;
    position: absolute;
    display: none;
  }
  .menu-item {
    border-left: 2px solid #ffff;
  }
  .menu-button {
    border: 0;
    padding: 8px 20px;
    background: transparent;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000;
  }
}
